
@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
}

:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;

    --background: #F3F5F7;
    --background-input: rgba(255, 255, 255, 0.2);

    --title: #313131;
    --text: #B6B6B6;
    
    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

::placeholder { 
    color: var(--white);
    opacity: 0.5;
}
  
:-ms-input-placeholder {
    color: var(--white);
}
  
::-ms-input-placeholder { 
    color: var(--white);
}

* {
    margin: 0;
    padding: 0;
}

.title, .search {
    padding: 20px;
}

.header {
    width: 100%;
    height: 250px;
    background: var(--linear);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 900px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title__text {
    font-family: 'Lexend Deca';
    font-size: 22px;
    line-height: 30px;
    color: var(--white);
}

.search i {
    position: absolute;
}

.search__icon {
    padding: 11px;
    width: 70px;
    text-align: left;
    color: var(--white);
}

.search__input {
    font-family: 'Inter Regular';
    color: var(--white);
    background: var(--background-input);
    width: 100%;
    height: 40px;
    max-width: 900px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.search__input:focus {
    outline: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    height: auto;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 850px;
    background-color: var(--white);
    margin: 20px;
    padding: 10px;
    border-radius: 2px;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card__date {
    font-family: 'Lexend Deca';
    color: var(--text);
    font-size: 13px;
}

.card__icon {
    color: var(--blue-dark);
}

.card__like {
    background: none;
    border: none;
    cursor: pointer;
}

.card__title {
    font-family: 'Lexend Deca';
    color: var(--title);
    font-size: 26px;
    line-height: 50px;
}

.card__description {
    font-family: 'Lexend Deca';
    color: var(--text);
    font-size: 15px;
    line-height: 30px;
}
